/* CSS */
/* Большие экраны 
.navigation {
    display: flex;
    flex-flow: row wrap;
    /* Это выровняет элементы по конечной части линии на главной оси 
    justify-content: flex-end;
  }*/
  
  /* Средние экраны 
  @media all and (max-width: 800px) {
    .navigation {
      /* На экранах среднего размера мы центрируем элементы, равномерно распределяя пустое пространство вокруг элементов 
      justify-content: space-around;
    }
  }*/
  
  /* Маленькие экраны 
  @media all and (max-width: 500px) {
    .navigation {
      /* На маленьких экранах мы больше не используем направление строки, а используем столбец 
      flex-direction: column;
    }
  }*/

  html {
/*    background-image: url(../images/Screenshot_11.png); 
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
background-color: #333; */
}

  
.container {
 /*   display: -webkit-flex; */
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;

    background-color: Black;
}

.Page1 {
    height: 100vh;
    display: flex;
/* бэк картинка */
background-image: url(../images/Screenshot_11.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

flex-direction: column; 
}
.Logo {
    display: flex;
    flex-direction: column;
    flex-grow:3; 

    align-items: center; 
    justify-content: center; /*  */  
    /*    align-content: center;   */  
}
.logo_back {
    z-index: -1;
}
.logo_image {

    padding-top: 20%;
    
    width: 70%;
    height: 70%;
   
    z-index: 1;
}
.logo_descr {
    height: 100%;    
    font-size: 1.5vw;
    line-height: 0vw; 

    z-index: 1;
}
.logo_button {
    height: 40%;
    width: 25%;
    line-height: 0vw; 

    text-align: center;
/*  
    margin: 0.2vh 40vh;
    padding: 0.1vh 6vh;*/  

    margin-bottom: 25vh;
    font-size: 1.4vw;

    /* WHite */
    border: 2px solid #FFFFFF;
    box-sizing: border-box;

    z-index: 1;
}

.Menu {
    display: flex;
    flex-grow:1;
    flex-direction: row;
/* line 
    position: absolute;*/
    border: 1px solid #FFFFFF;
    background-color: black; 
/* */
}

.menu_elements {
    display: flex;
    justify-content: space-around;

    flex-grow: 8;
    margin-right: 5%;
    margin-left: 5%;
}

.logo_lang {
   display: flex;
   flex-grow: 1;
  /*   justify-content: flex-end; */
    margin-left: 5%;
    margin-right: 5%;
}

.Page2{
    height: 100vh;
}

.Services {
    display: flex;
    flex-direction: row; /* column;*/  
    padding: 4vh 4vh; 
}
.Services_left {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    width: 50%;
}
.Services_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;

    /*    display: flex;
    flex-grow:1;  
*/    
}

.Page3{
    height: 100vh;
/* бэк картинка */
background-image: url(../images/Screenshot_12.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

flex-direction: column; 
}
.Cases {
    display: flex;
    flex-direction: row;
}
.cases_left {
    display: flex;
    flex-grow:1;
    width: 50%;

}
.cases_right {
    display: flex;
    flex-grow:1;
    width: 50%;

}

.Page4{
    height: 100vh;
/* бэк картинка */
background-color: black; 


}
.Partners {
    display: flex;
    flex-direction: column; 

    /*  margin: 2% 7%; */
}

.Partners_center {
    display: flex;
       flex-direction: row; 
    justify-content: space-evenly;
  /*   align-content: space-between; */
    flex-wrap: wrap;  
  /*     margin: 1% 10%; 
     padding: 10% 10%;*/
    height: 10%; 
    width: 10%; 
}
.Partners_bottom {
    display: flex;
}

.Page5 {
    height: 100vh;
/* бэк картинка */
background-color: black; 

flex-direction: column; 
}
.Bloggers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-evenly;

 /*    width: 15%;
   flex-grow:1; */
    margin: 5% 5%;

}
.Bloggers_coll1 {
    display: flex;
    flex-direction: column;
    margin: 0 2%; 
}
.Bloggers_coll2 {
    display: flex;
    flex-direction: column;
    margin: 0 2%; 
}
.Bloggers_coll3 {
    display: flex;
    flex-direction: column;
    margin: 0 2%; 
}
.Bloggers_coll4 {
    display: flex;
    flex-direction: column;
    margin: 0 2%; 
}

.Page6{
    height: 100vh;
/* бэк картинка */
background-image: url(../images/phone.png);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

flex-direction: column; 
}
.Contacts {
    display: flex;
    flex-direction: row;

}
.Contacts_right {
    display: flex;
    flex-direction: column;

    flex-grow:1;
}

.column {
    float: left;
    width: 50%;
    padding: 0 2em;
    min-height: 300px;
    position: relative;
}

body {
/*    width: 100%; height: 100%; */

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.2em; 
    color: white;
 /*    font-size: 14px; */
    background: #000 ; 
}

span {
    font-style: italic;
    color: black;  
    background: white; 

}
span::before {
    background: red;
    transform: translateY(-100%) skewY(-175deg);
    /*background: linear-gradient(to bottom right, black 50%, white 52%);*/
  }

span::after {
    background: linear-gradient(to top right, white 50%, black 52%);  
  }

mark{
    font-style: italic;  
}


a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Отменяем подчеркивание у ссылки */

    font-size: 1.3vw;

/* Inside Auto Layout */
flex: none;
order: 0;
margin: 4vh 1vh;
}
   